
 .container2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
 }
 
 ul li {
    text-align: center;
    font-size: 30px;
        }

 .products__list {
          
            display: grid;
            grid-template-columns: repeat(2);
            gap: 50px;
        
            &__list {
                font-style:oblique;
                display: flex;
                text-align: center;
                               
        
        }

 h1  {
    display: inline-block;
    text-align: center;
 }       
.gallery2 {
   @extend .gallerytemplate;
}
.gallery4 {
   @extend .gallerytemplate;
}
}