
 .container2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
 }
 
 ul {
    text-align: center;
    font-size: 30px;
        }

 .products__list {
            font-size: 20px;
            display: grid;
            grid-template-columns: repeat(2);
            gap: 50px;
        
            &__list {
                font-style:oblique;
                display: inline-block;
               
           
           &__files {
           display: flex;
            align-items: center;
           }
        }
.gallery2 {
   @extend .gallerytemplate;


}
}